<!DOCTYPE html>
<html ng-app="app">
<head>
    <link href="main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link rel="shortcut icon" href="icon.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <script src="app.js"></script>


    <meta charset="UTF-8">
    <title>KPZ</title>
</head>
<body>
<div ng-controller='myCtrl' >

  <div class="center-block" width="300px" left="200px">
      <p>Введите ваше имя</p>
      <input type="text" ng-model="name"
             minlength="1" maxlength="40" ng-pattern="/(^[A-Z|А-Я])[a-z|а-я]+/" />
      <br>
      <md-button class="md-primary" ng-click="showName()">Приветсвие</md-button>
  </div>
</div>
</body>
</html>